<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8" />
    <title>提交错误</title>
    <style type="text/css">
        p{
            padding-top:200px;
            font-size:20px;

        }
        span{
            font-size:40px;
            font-weight:bold;
            color:lightcoral;
            font-family:Cooper Std Black;

        }
        img{
            float:left;
        }
        a{
            color:lightcoral;
        }
    </style>
</head>
<body>
   <img src="competition/img/cry.jpg"/>
    <p>

    <span>sorry，数据保存失败了！</span><br/><br/>
        你可以尝试：<br/><br/><a href="/" target="_self">重新报名</a><br/><br/>
        或者向我们反馈你遇到的问题：<br/><br/>
        QQ：706390664<br/>
        邮箱：706390664@qq.com<br/>
        电话：18380321869<br/>
    </p>

</body>
</html>