<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>翼灵一家人</title>
    <meta name="keyword" content="Fun Exam"/>
    <meta name="description" content="An exam system for students"/>
    <link rel="short icon" type="image/x-icon" href="/img/logo.png"/>
    <link rel="stylesheet" href="/aboutus/lib/bootstrap.min.css"/>
    <link rel="stylesheet" href="/aboutus/stylesheets/css/main.css"/>
    <link rel="stylesheet" href="/aboutus/stylesheets/css/media.css"/>
    <script src="/aboutus/js/echarts.min.js"></script>
    <script src="/aboutus/js/jquery-3.2.1.min.js"></script>
    <script src="/aboutus/lib/modernizr-2.6.2.min.js"></script>
    <script src="/aboutus/lib/bootstrap.min.js"></script>
    <script src="/aboutus/lib/autoHidingNavbar.js"></script>


    <!-- Respond.js for IE 8 or less only-->
    <!--[if (lt IE 9) & (!IEMobile)]>
    <script src="/aboutus/lib/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- nav -->
<nav class="nav navbar navbar-inverse navbar-toggleable-md  fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand navbar-header" href="/family.html">翼灵一家人</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="nav navbar-nav navbar-left">
            <li class="nav-item">
                <a class="nav-link" href="/">翼灵官网</a>
            </li>

        </ul>
    </div>
</nav>


    <div class="Ot-top">
    <div class="Ot-content">
        <h2>代码之外的我们</h2>
        <p>Apart from the code，Our life is colorful</p>
    </div>
 </div>

    <div class="gravitation container" id="gravitation">
        <h3 class="gra-h3">团队引力</h3>
        <span class="gra-span"></span>
         <div class="row" id="showUp">
             <div class="clo-xs-6 col-md-3">
                 <div class="gra-row-col" >
                  <img src="http://p22svme3d.bkt.clouddn.com/aboutus/img/f1.png"/>
                     <h4>web后端</h4>
                     <p>讨论Web开发、技术上交流，技术研讨</p>
                 </div>
             </div>
             <div class="clo-xs-6 col-md-3">
                 <div class="gra-row-col">
                     <img src="http://p22svme3d.bkt.clouddn.com/aboutus/img/f2.png"/>
                     <h4>嵌入式开发</h4>
                     <p>底层嵌入式开发、智能硬件的学习</p>
                 </div>
             </div>
             <div class="clo-xs-6 col-md-3">
                 <div class="gra-row-col">
                     <img src="http://p22svme3d.bkt.clouddn.com/aboutus/img/f3.png"/>
                     <h4>Android开发</h4>
                     <p>Android开发、技术交流、问题解决</p>
                 </div>
             </div>
             <div class="clo-xs-6 col-md-3">
                 <div class="gra-row-col">
                     <img src="http://p22svme3d.bkt.clouddn.com/aboutus/img/f4.png"/>
                     <h4>web前端</h4>
                     <p>以网页实战技能为基础，紧跟时代脚步</p>
                 </div>
             </div>


         </div>
    </div>

    <div id="members" class="members">
        <h3 class="gra-h3">团队成员</h3>
        <span class="gra-span"></span>
        <div class="container-fluid">
          <div class="row mem-main">
            <div class="col-md-5 leftText-e">
               <p>
                   翼灵物联网工作室由37位来自不同地方的小伙伴组成，相聚便是最好的安排。我们在这里一起学习，一起吃饭，一起运动，一起进步。这里不是死板的学习，而是思维和代码的碰撞。我们都享受着代码带来的快感！乐此不疲！
               </p>
            </div>
          <div id="e-content" class="col-md-7"></div>
        </div>
        </div>
    </div>

    <div class="life" id="life">
        <h3 class="gra-h3">团队生活</h3>
        <span class="gra-span"></span>
        <div class="album">
            <div class="each-img1 ">
              <img src="http://p22svme3d.bkt.clouddn.com/aboutus/img/s1.jpg" />
          </div>
            <div class="each-img2">
              <img src="http://p22svme3d.bkt.clouddn.com/aboutus/img/s2.jpg"/>
          </div>
            <div class="each-img1">
                <img src="http://p22svme3d.bkt.clouddn.com/aboutus/img/s5.jpg"/>
            </div>
            <div class="each-img2">
                <img src="http://p22svme3d.bkt.clouddn.com/aboutus/img/s8.jpg"/>
            </div>
            <div class="each-img2">
                <img src="http://p22svme3d.bkt.clouddn.com/aboutus/img/s6.jpg"/>
            </div>
            <div class="each-img1">
                <img src="http://p22svme3d.bkt.clouddn.com/aboutus/img/s3.jpg"/>
            </div>
            <div class="each-img2">
                <img src="http://p22svme3d.bkt.clouddn.com/aboutus/img/s4.jpg"/>
            </div>
            <div class="each-img1">
                <img src="http://p22svme3d.bkt.clouddn.com/aboutus/img/s7.jpg"/>
            </div>
        </div>
    </div>
<div id="footer" class="container-fluid background-light-blue">
    <div class="container">
        <p class="text-center">
            &copy; 2018
            <a href="/">翼灵物联工作室</a>
            <a href="https://github.com/YiLing-IOT-Studio">
                <img class="git-img" src="/img/icon-github.png" alt="github">
            </a>
        </p>
    </div>
</div>

<script src="/aboutus/js/map.js"></script>
<script src="/aboutus/js/index.js"></script>

</body>
</html>