<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1>-->
    <title>嵌入式 - 翼灵</title>
    <link rel="short icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<!-- nav -->
<div id="nav">
    <nav class="nav navbar navbar-inverse navbar-toggleable-md  fixed-top">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h1><a class="navbar-brand navbar-header" href="#">嵌入式</a></h1>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav navbar-left">
                <li class="nav-item">
                    <a class="nav-link" href="#glory-display">安卓</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#item-display">web后端<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#glory-display">web前端</a>
                </li>
                <li class="nav-item dropdown nav navbar-nav navbar-right">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">关于我们</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown02">
                        <span class="dropdown-header">翼灵物联工作室</span>
                        <a class="dropdown-item" href="http://www.swpuiot.com/">翼灵官网</a>
                        <a class="dropdown-item" href="http://www.swpuiot.com/%E5%B5%8C%E5%85%A5%E5%BC%8F.html">培养方向</a>
                        <a class="dropdown-item" href="#">创意大赛</a>
                        <a class="dropdown-item disabled" href="#">开源空间（暂不开放）</a>
                        <a class="dropdown-item disabled" href="#">招新系统（非招新时间）</a>
                        <a class="dropdown-item disabled" href="#">考试系统（系统更新中）</a>
                        <a class="dropdown-item disabled" href="#">翼灵一家人（暂不开放）</a>
                    </div>
                </li>

            </ul>

        </div>
    </nav>
</div>
<!--content-->
<canvas id="canvas"></canvas>
<header class="col-6">
    <div id="head">
        <h1>嵌入式</h1>
        <h2>Embeded System Development</h2>
    </div>
    <span id="intro"></span><span id="timer">|</span>
</header>
<div class="container">
    <div class="head-box row clearfix">
        <div class="col-4">
            <hr/>
            <h3>Group members</h3>
            <hr/>
        </div>
    </div>
    <div class="membersWall">
        <div class="member row">
            <div class="col-4">
                <img src="img/qrs1.png" alt="吉锋涛">
            </div>
            <div class="col-8 headman">
                <h4>吉锋涛</h4>
                <ul>
                    <li>2015级物联网工程专业</li>
                    <li>嵌入式开发组组长</li>
                    <li>能够熟练运用51，stm32，zigbee等硬件，掌握C，Java，HTML等编程语言，正在学习linux系统编程</li>
                    <li>座右铭：犯其至难，图其致远</li>
                    <li>邮箱：307557507@qq.com</li>
                </ul>
            </div>
        </div>
        <div class="member row">
            <div class="col-4">
                <img src="img/qrc2.jpg" alt="陈庙红">
            </div>
            <div class="col-8">
                <h4>陈庙红</h4>
                <ul>
                    <li>2014级物联网工程专业</li>
                    <li>2014级嵌入式开发组组长</li>
                    <li>负责团队日常管理与建设、技术协调、团队培训等相关工作。旨在将团队打造成一流科技团队和为每个成员拥有绚烂的大学生活而努力。</li>
                    <li>国家级4项，省部级3项</li>
                    <li>座右铭：爱交流，爱技术，爱旅游，爱生活，爱思考</li>
                    <li>邮箱：cmhiot@126.com</li>
                </ul>
            </div>
        </div>
        <div class="member row">
            <div class="col-4">
                <img src="img/qrc3.jpg" alt="杜宇">
            </div>
            <div class="col-8">
                <h4>杜宇</h4>
                <ul>
                    <li>2015级物联网工程专业</li>
                    <li>嵌入式开发组组员</li>
                    <li>项目经历：智能钱包</li>
                    <li>爱好：lol、篮球、学习</li>
                    <li>座右铭：好好学习，天天向上</li>
                    <li>邮箱：383539078@qq.com</li>
                </ul>
            </div>
        </div>
        <div class="member row">
            <div class="col-4">
                <img src="img/qrc4.jpg" alt="易小风">
            </div>
            <div class="col-8">
                <h4>易小风</h4>
                <ul>
                    <li>2015级物联网工程专业</li>
                    <li>嵌入式开发组组员</li>
                    <li>项目经历：RFID标签识别；RFID产品追溯体统</li>
                    <li>校创新俱乐部部长、第六届三创赛二等奖、第七届服务外包大赛优胜奖</li>
                    <li>座右铭：天行健君子以自强不息，地势坤君子以厚德载物</li>
                    <li>邮箱：yxfiot@163.com</li>
                </ul>
            </div>
        </div>
        <div class="member row">
            <div class="col-4">
                <img src="img/qrc5.jpg" alt="陈前伍">
            </div>
            <div class="col-8">
                <h4>陈前伍</h4>
                <ul>
                    <li>2015级物联网工程专业</li>
                    <li>嵌入式开发组组员</li>
                    <li>爱好：实事、军事</li>
                    <li>座右铭：Talk is cheap,show me the code</li>
                    <li>邮箱：1693378164@qq.com</li>
                </ul>
            </div>
        </div>
        <div class="member row">
            <div class="col-4">
                <img src="img/qrc6.jpg" alt="陈相铭">
            </div>
            <div class="col-8">
                <h4>陈相铭</h4>
                <ul>
                    <li>2016级物联网工程专业</li>
                    <li>嵌入式开发组组员</li>
                    <li>邮箱：1615962787@qq.com</li>
                </ul>
            </div>
        </div>
        <div class="member row">
            <div class="col-4">
                <img src="img/qrc7.jpg" alt="郝翱枭">
            </div>
            <div class="col-8">
                <h4>郝翱枭</h4>
                <ul>
                    <li>2016级物联网工程专业</li>
                    <li>嵌入式开发组组员</li>
                    <li>爱好：旅行、摄影、学习技术</li>
                    <li>座右铭：在正确的方向上勇往直前</li>
                    <li>邮箱：479582297@qq.com</li>
                </ul>
            </div>
        </div>
        <div class="member row">
            <div class="col-4">
                <img src="img/qrc9.jpg" alt="易刚希">
            </div>
            <div class="col-8">
                <h4>易刚希</h4>
                <ul>
                    <li>2016级物联网工程专业</li>
                    <li>嵌入式开发组组员</li>
                    <li>爱好：足球、羽毛球</li>
                    <li>座右铭：诺不轻许，故我不负人；诺不轻信，故人不负我</li>
                    <li>邮箱：swpuiot_yx32@qq.com</li>
                </ul>
            </div>
        </div>
        <!--<div class="add col-11">-->
            <!--&lt;!&ndash; Button trigger modal &ndash;&gt;-->
            <!--<button type="button" class="addMsg btn" data-toggle="modal" data-target="#myModal"></button>-->
            <!--&lt;!&ndash; Modal &ndash;&gt;-->
            <!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">-->
                <!--<div class="modal-dialog" role="document">-->
                    <!--<div class="modal-content">-->
                        <!--<div class="modal-header">-->
                            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                            <!--<h4 class="modal-title" id="myModalLabel">添加信息</h4>-->
                        <!--</div>-->
                        <!--<div class="modal-body">-->
                            <!--<form name="upload_form">-->
                                <!--<p>-->
                                    <!--<label for="memberName">姓名：</label>-->
                                    <!--<input id="memberName" name="memberName" type="text"/>-->
                                <!--</p>-->
                                <!--<p>-->
                                    <!--<label for="major">专业年级：</label>-->
                                    <!--<input id="major" name="major" type="text"/>-->
                                <!--</p>-->
                                <!--<p>-->
                                    <!--<label for="position">团队职位：</label>-->
                                    <!--<input id="position" name="position" type="text"/>-->
                                <!--</p>-->
                                <!--<p>-->
                                    <!--<label for="skill">专业技能：</label>-->
                                    <!--<textarea name="skill" id="skill" cols="30" rows="2"></textarea>-->
                                <!--</p>-->
                                <!--<p>-->
                                    <!--<label for="hobby">爱好：</label>-->
                                    <!--<textarea name="hobby" id="hobby" cols="30" rows="2"></textarea>-->
                                <!--</p>-->
                                <!--<p>-->
                                    <!--<label for="motto">座右铭：</label>-->
                                    <!--<textarea name="motto" id="motto" cols="30" rows="2"></textarea>-->
                                <!--</p>-->
                                <!--<p>-->
                                    <!--<label for="email">邮箱：</label>-->
                                    <!--<input id="email" name="email" type="text"/>-->
                                <!--</p>-->
                                <!--<p>-->
                                    <!--<label for="imgfile">成员照片：</label>-->
                                    <!--<input type="file" id="imgfile" name="imgfile" accept="image/*"/>-->
                                <!--</p>-->
                                <!--<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>-->
                                <!--<button id="submit" type="submit" class="btn btn-primary">提交</button>-->
                                <!--<div id="dialog" title="提示">-->
                                    <!--<p></p>-->
                                <!--</div>-->
                            <!--</form>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    </div>
</div>
<!--footer-->
<div id="footer" class="container-fluid background-light-blue">
    <div class="container">
        <h3>翼灵物联工作室</h3>
        <p class="lead">欢迎访问我们的各个站点</p>
        <hr class="m-y-md">
        <div class="row">
            <a href="http://www.swpuiot.com/" target="_blank" class="website-link text-center">
                <img src="img/nav-official-48.png" alt="翼灵官网" class="website-item"/>
                <p class="website-info">翼灵官网</p>
            </a>
            <a href="http://www.swpuiot.com/%E5%B5%8C%E5%85%A5%E5%BC%8F.html" target="_blank" class="website-link text-center">
                <img src="img/nav-major-48.png" alt="培养方向" class="website-item"/>
                <p class="website-info">培养方向</p>
            </a>
            <a href="#" target="_blank" class="website-link text-center">
                <img src="img/nav-competition-48.png" alt="创意大赛" class="website-item"/>
                <p class="website-info">创意大赛</p>
            </a>
            <a href="javascript:void(0);" target="_blank" class="website-link text-center">
                <img src="img/nav-open-48.png" alt="开源空间" class="website-item"/>
                <p class="website-info">开源空间（暂不开放）</p>
            </a>
            <a href="javascript:void(0);" target="_blank" class="website-link text-center">
                <img src="img/nav-new-48.png" alt="招新系统" class="website-item"/>
                <p class="website-info">招新系统（暂不开放）</p>
            </a>
            <a href="javascript:void(0);" target="_blank" class="website-link text-center">
                <img src="img/nav-exam-48.png" alt="考试系统" class="website-item"/>
                <p class="website-info">考试系统（暂不开放）</p>
            </a>
            <a href="javascript:void(0);" target="_blank" class="website-link text-center">
                <img src="img/nav-family-48.png" alt="翼灵一家人" class="website-item"/>
                <p class="website-info">翼灵一家人（暂不开放）</p>
            </a>
        </div>
    </div>
    <div class="container">
        <hr class="m-y-md">
        <p class="text-center">
            &copy; 2017
            <a href="http://www.swpuiot.com/" target="_blank">翼灵物联工作室</a>
            <a href="https://github.com/YiLing-IOT-Studio" target="_blank">
                <img class="git-img" src="img/icon-github.png" alt="github">
            </a>
        </p>
    </div>
</div>
<!--<script src="js/test.js"></script>-->
<script src="js/canvas.js"></script>
<script src="js/typeFlu.js"></script>
<!--<script src="js/submit.js"></script>-->
<!--<script src="js/ajax.js"></script>-->
<!--<script>-->
    <!--$.ajax({-->
        <!--type: 'GET',-->
        <!--url: 'http://192.168.1.139/back',-->
<!--//        contentType: 'application/json',-->
        <!--dataType: 'text',-->
<!--//        processData:false,-->
        <!--data: {-->
        <!--},-->
        <!--success: function (data) {-->
            <!--console.log(data);-->
        <!--},-->
        <!--error: function (jqXHR, textStatus) {-->
            <!--console.log(textStatus);-->
        <!--}-->
    <!--});-->

<!--</script>-->
</body>
</html>