<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1>-->
    <title>嵌入式 - 翼灵</title>
    <link rel="short icon" type="image/x-icon" href="/img/logo.png">
    <link rel="stylesheet" href="/training/css/bootstrap.min.css">
    <script src="/training/js/jquery-3.2.1.min.js"></script>
    <script src="/training/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/training/css/index.css">
</head>
<body>
<!-- nav -->
<div id="nav">
    <nav class="nav navbar navbar-inverse navbar-toggleable-md  fixed-top">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h1><a class="navbar-brand navbar-header" href="/direction/flushbonading.html">嵌入式</a></h1>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav navbar-left">
                <li class="nav-item">
                    <a class="nav-link" href="/direction/android.html">安卓</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/direction/web-back.html">web后端<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/direction/web-fronted.html">web前端</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">翼灵官网</a>
                </li>
            </ul>

        </div>
    </nav>
</div>
<!--content-->
<canvas id="canvas"></canvas>
<header class="col-6">
    <div id="head">
        <h1>嵌入式</h1>
        <h2>Embeded System Development</h2>
    </div>
    <span id="intro"></span><span id="timer">|</span>
</header>
<div class="container-fluid main">
    <div class="head-box row clearfix">
        <div class="col-4">
            <hr/>
            <h3>Group members</h3>
            <hr/>
        </div>
    </div>
    <div class="membersWall">
        <div class="member row">
            <div class="col-4">
                <img src="http://p22svme3d.bkt.clouddn.com/direction/img/qrs1.png" alt="吉锋涛" />
            </div>
            <div class="col-8 headman">
                <h4>吉锋涛</h4>
                <ul>
                    <li>2015级物联网工程专业</li>
                    <li>嵌入式开发组组长</li>
                    <li>能够熟练运用51，stm32，zigbee等硬件，掌握C，Java，HTML等编程语言，正在学习linux系统编程</li>
                    <li>座右铭：犯其至难，图其致远</li>
                    <li>邮箱：307557507@qq.com</li>
                </ul>
            </div>
        </div>
        <div class="member row">
            <div class="col-4">
                <img src="http://p22svme3d.bkt.clouddn.com/direction/img/qrc2.jpg" alt="陈庙红" />
            </div>
            <div class="col-8">
                <h4>陈庙红</h4>
                <ul>
                    <li>2014级物联网工程专业</li>
                    <li>2014级嵌入式开发组组长</li>
                    <li>负责团队日常管理与建设、技术协调、团队培训等相关工作。旨在将团队打造成一流科技团队和为每个成员拥有绚烂的大学生活而努力。</li>
                    <li>国家级4项，省部级3项</li>
                    <li>座右铭：爱交流，爱技术，爱旅游，爱生活，爱思考</li>
                    <li>邮箱：cmhiot@126.com</li>
                </ul>
            </div>
        </div>
        <div class="member row">
            <div class="col-4">
                <img src="http://p22svme3d.bkt.clouddn.com/direction/img/qrc3.jpg" alt="杜宇" />
            </div>
            <div class="col-8">
                <h4>杜宇</h4>
                <ul>
                    <li>2015级物联网工程专业</li>
                    <li>嵌入式开发组组员</li>
                    <li>项目经历：智能钱包</li>
                    <li>爱好：lol、篮球、学习</li>
                    <li>座右铭：好好学习，天天向上</li>
                    <li>邮箱：383539078@qq.com</li>
                </ul>
            </div>
        </div>
        <div class="member row">
            <div class="col-4">
                <img src="http://p22svme3d.bkt.clouddn.com/direction/img/qrc4.jpg" alt="易小风" />
            </div>
            <div class="col-8">
                <h4>易小风</h4>
                <ul>
                    <li>2015级物联网工程专业</li>
                    <li>嵌入式开发组组员</li>
                    <li>项目经历：RFID标签识别；RFID产品追溯系统</li>
                    <li>校创新俱乐部部长、第六届三创赛二等奖、第七届服务外包大赛优胜奖</li>
                    <li>座右铭：天行健君子以自强不息，地势坤君子以厚德载物</li>
                    <li>邮箱：yxfiot@163.com</li>
                </ul>
            </div>
        </div>
        <div class="member row">
            <div class="col-4">
                <img src="http://p22svme3d.bkt.clouddn.com/direction/img/qrc5.jpg" alt="陈前伍" />
            </div>
            <div class="col-8">
                <h4>陈前伍</h4>
                <ul>
                    <li>2015级物联网工程专业</li>
                    <li>嵌入式开发组组员</li>
                    <li>爱好：实事、军事</li>
                    <li>座右铭：Talk is cheap,show me the code</li>
                    <li>邮箱：1693378164@qq.com</li>
                </ul>
            </div>
        </div>
        <div class="member row">
            <div class="col-4">
                <img src="http://p22svme3d.bkt.clouddn.com/direction/img/qrc9.jpg" alt="易刚希" />
            </div>
            <div class="col-8">
                <h4>易刚希</h4>
                <ul>
                    <li>2016级物联网工程专业</li>
                    <li>嵌入式开发组组员</li>
                    <li>爱好：足球、羽毛球</li>
                    <li>座右铭：诺不轻许，故我不负人；诺不轻信，故人不负我</li>
                    <li>邮箱：swpuiot_yx32@qq.com</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--footer-->
<div id="footer" class="container-fluid background-light-blue">
    <!--</div>-->
    <div class="container">
        <p class="text-center">
            &copy; 2018
            <a href="/">翼灵物联工作室</a>
            <a href="https://github.com/YiLing-IOT-Studio">
                <img class="git-img" src="/img/icon-github.png" alt="github">
            </a>
        </p>
    </div>
</div>
<!--<script src="/training/js/test.js"></script>-->
<script src="/training/js/canvas.js"></script>
<script src="/training/js/typeFlu.js"></script>
<!--<script src="/training/js/submit.js"></script>-->
<!--<script src="/training/js/ajax.js"></script>-->
<!--<script>-->
    <!--$.ajax({-->
        <!--type: 'GET',-->
        <!--url: 'http://192.168.1.139/back',-->
<!--//        contentType: 'application/json',-->
        <!--dataType: 'text',-->
<!--//        processData:false,-->
        <!--data: {-->
        <!--},-->
        <!--success: function (data) {-->
            <!--console.log(data);-->
        <!--},-->
        <!--error: function (jqXHR, textStatus) {-->
            <!--console.log(textStatus);-->
        <!--}-->
    <!--});-->

<!--</script>-->
</body>
</html>