<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1>-->
    <title>Web前端 - 翼灵</title>
    <link rel="short icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<!-- nav -->
<div id="nav">
    <nav class="nav navbar navbar-inverse navbar-toggleable-md  fixed-top">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h1><a class="navbar-brand navbar-header" href="#">Web前端</a></h1>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav navbar-left">
                <li class="nav-item">
                    <a class="nav-link" href="#glory-display">嵌入式</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#item-display">安卓<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#glory-display">web后端</a>
                </li>
                <li class="nav-item dropdown nav navbar-nav navbar-right">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">关于我们</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown02">
                        <span class="dropdown-header">翼灵物联工作室</span>
                        <a class="dropdown-item" href="http://www.swpuiot.com/">翼灵官网</a>
                        <a class="dropdown-item" href="http://www.swpuiot.com/%E5%B5%8C%E5%85%A5%E5%BC%8F.html">培养方向</a>
                        <a class="dropdown-item" href="#">创意大赛</a>
                        <a class="dropdown-item disabled" href="#">开源空间（暂不开放）</a>
                        <a class="dropdown-item disabled" href="#">招新系统（非招新时间）</a>
                        <a class="dropdown-item disabled" href="#">考试系统（系统更新中）</a>
                        <a class="dropdown-item disabled" href="#">翼灵一家人（暂不开放）</a>
                    </div>
                </li>

            </ul>

        </div>
    </nav>
</div>
<!--content-->
<canvas id="canvas"></canvas>
<header class="col-6">
    <div id="head">
        <h1>Web前端</h1>
        <h2>Front-end web development</h2>
    </div>
    <span id="intro"></span><span id="timer">|</span>
</header>
<div class="container">
    <div class="head-box row clearfix">
        <div>
            <hr/>
            <h3>Group members</h3>
            <hr/>
        </div>
    </div>
    <div class="membersWall">
        <div class="member row">
            <div class="col-4">
                <img src="img/qdz1.jpg" alt="李友波">
            </div>
            <div class="col-8 headman">
                <h4>李友波</h4>
                <ul>
                    <li>2015级物联网工程专业</li>
                    <li>Web前端开发组组长</li>
                    <li>项目经历：翼灵物联网官网；博客系统；老司机校车服务系统；校园二手街</li>
                    <li>邮箱：18882007635@163.com</li>
                </ul>
            </div>
        </div>
        <div class="member row">
            <div class="col-4">
                <img src="img/qdz9.jpg" alt="母丹">
            </div>
            <div class="col-8">
                <h4>母丹</h4>
                <ul>
                    <li>2016级物联网工程专业</li>
                    <li>Web前端开发组组员</li>
                    <li>爱好：听音乐、遛狗、看电影</li>
                    <li>座右铭：吾日三省吾身，今天我敲代码了吗，昨天我敲代码了吗，明天我要敲代码吗？</li>
                    <li>邮箱：1057650428@qq.com</li>
                </ul>
            </div>
        </div>
        <div class="member row">
            <div class="col-4">
                <img src="img/qdz6.jpg" alt="曹雪梅">
            </div>
            <div class="col-8">
                <h4>曹雪梅</h4>
                <ul>
                    <li>2015级物联网工程专业</li>
                    <li>Web前端开发组组员</li>
                    <li>项目经历：翼灵招新网站；高等教育教学成果申报展示网站</li>
                    <li>爱好：来一场说走就走的旅行、动漫、丧尸、偶尔绣绣织织</li>
                    <li>座右铭：我不努力，你怎么知道我的潜力！</li>
                    <li>421437649@qq.com</li>
                </ul>
            </div>
        </div>
        <div class="member row">
            <div class="col-4">
                <img src="img/qdz7.jpg" alt="李文斐">
            </div>
            <div class="col-8">
                <h4>李文斐</h4>
                <ul>
                    <li>2015级信息管理与信息系统专业</li>
                    <li>Web前端开发组组员</li>
                    <li>翼灵官网1.0；开放性实验“校园二手街”；电子科大精品课程网站</li>
                    <li>爱好：看书、听歌、学习</li>
                    <li>邮箱：15928543307@163.com</li>
                </ul>
            </div>
        </div>
        <div class="member row">
            <div class="col-4">
                <img src="img/qdz4.jpg" alt="刘易民">
            </div>
            <div class="col-8">
                <h4>刘易民</h4>
                <ul>
                    <li>2015级信息管理与信息系统专业</li>
                    <li>Web前端开发组组员</li>
                    <li>项目经历：开放性实验“掌上石大”；翼灵博客系统</li>
                    <li>座右铭：除非你变成大海，否则就会一直晕船。</li>
                    <li>邮箱：15828511772@163.com</li>
                </ul>
            </div>
        </div>
        <div class="member row">
            <div class="col-4">
                <img src="img/qdz5.jpg" alt="周邓">
            </div>
            <div class="col-8">
                <h4>周邓</h4>
                <ul>
                    <li>2015级信息管理与信息系统专业</li>
                    <li>Web前端开发组组员</li>
                    <li>项目经历：开放性实验“掌上石大”；翼灵博客系统</li>
                    <li>爱好：吃、睡、旅行</li>
                    <li>邮箱：1057650428@qq.com</li>
                </ul>
            </div>
        </div>
        <div class="member row">
            <div class="col-4">
                <img src="img/qdz10.jpg" alt="杨玉卿">
            </div>
            <div class="col-8">
                <h4>杨玉卿</h4>
                <ul>
                    <li>2016级物联网工程专业</li>
                    <li>Web前端开发组组员</li>
                    <li>座右铭：不管发生什么事,都请安静且愉快地接受人生,勇敢地、大胆地,而且永远地微笑着。</li>
                    <li>邮箱：1057650428@qq.com</li>
                </ul>
            </div>
        </div>
        <div class="member row">
            <div class="col-4">
                <img src="img/lqy.jpg" alt="卢青莹">
            </div>
            <div class="col-8">
                <h4>卢青莹</h4>
                <ul>
                    <li>2016级物联网工程专业</li>
                    <li>Web前端开发组组员</li>
                    <li>爱好：吃、看电影、绘画</li>
                    <li>邮箱：512099850@qq.com</li>
                </ul>
            </div>
        </div>
        <div class="member row">
            <div class="col-4">
                <img src="img/qdz2.jpg" alt="赵圆圆">
            </div>
            <div class="col-8">
                <h4>赵圆圆</h4>
                <ul>
                    <li>2014级物联网工程专业</li>
                    <li>Web前端开发组组员</li>
                    <li>项目经历：校园二手街；智慧农业网页设计；翼灵官网；基于LMAP算法测评的网页设计；高等教育教学成果申报展示网站</li>
                    <li>获学院奖学金多次、校园女子风采大赛“最美设计师”、社团“优秀骨干”</li>
                    <li>邮箱：swpu_zyy@163.com</li>
                </ul>
            </div>
        </div>
        <div class="member row">
            <div class="col-4">
                <img src="img/qdz3.jpg" alt="陈媛媛">
            </div>
            <div class="col-8">
                <h4>陈媛媛</h4>
                <ul>
                    <li>2014级物联网工程专业</li>
                    <li>Web前端开发组组员</li>
                    <li>项目经历：翼灵道惟尔杯报名网站</li>
                    <li>爱好：听歌</li>
                    <li>座右铭：从现在开始，做一些会让未来的你感谢现在的自己的事。</li>
                    <li>邮箱：1448604997@qq.com</li>
                </ul>
            </div>
        </div>
        <div class="member row">
            <div class="col-4">
                <img src="img/qd11.jpeg" alt="陈媛媛">
            </div>
            <div class="col-8">
                <h4>田宇</h4>
                <ul>
                    <li>2016级网络工程专业</li>
                    <li>Web前端开发组组员</li>
                    <li>爱好：看剧，听歌，搞事情</li>
                    <li>座右铭：做自己喜欢的事，成为自己喜欢的人</li>
                    <li>邮箱：527919996@qq.com</li>
                </ul>
            </div>
        </div>
        <!--<div class="add col-11">-->
        <!--&lt;!&ndash; Button trigger modal &ndash;&gt;-->
        <!--<button type="button" class="addMsg btn" data-toggle="modal" data-target="#myModal"></button>-->
        <!--&lt;!&ndash; Modal &ndash;&gt;-->
        <!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">-->
        <!--<div class="modal-dialog" role="document">-->
        <!--<div class="modal-content">-->
        <!--<div class="modal-header">-->
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
        <!--<h4 class="modal-title" id="myModalLabel">添加信息</h4>-->
        <!--</div>-->
        <!--<div class="modal-body">-->
        <!--<form name="upload_form">-->
        <!--<p>-->
        <!--<label for="memberName">姓名：</label>-->
        <!--<input id="memberName" name="memberName" type="text"/>-->
        <!--</p>-->
        <!--<p>-->
        <!--<label for="major">专业年级：</label>-->
        <!--<input id="major" name="major" type="text"/>-->
        <!--</p>-->
        <!--<p>-->
        <!--<label for="position">团队职位：</label>-->
        <!--<input id="position" name="position" type="text"/>-->
        <!--</p>-->
        <!--<p>-->
        <!--<label for="skill">专业技能：</label>-->
        <!--<textarea name="skill" id="skill" cols="30" rows="2"></textarea>-->
        <!--</p>-->
        <!--<p>-->
        <!--<label for="hobby">爱好：</label>-->
        <!--<textarea name="hobby" id="hobby" cols="30" rows="2"></textarea>-->
        <!--</p>-->
        <!--<p>-->
        <!--<label for="motto">座右铭：</label>-->
        <!--<textarea name="motto" id="motto" cols="30" rows="2"></textarea>-->
        <!--</p>-->
        <!--<p>-->
        <!--<label for="email">邮箱：</label>-->
        <!--<input id="email" name="email" type="text"/>-->
        <!--</p>-->
        <!--<p>-->
        <!--<label for="imgfile">成员照片：</label>-->
        <!--<input type="file" id="imgfile" name="imgfile" accept="image/*"/>-->
        <!--</p>-->
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>-->
        <!--<button id="submit" type="submit" class="btn btn-primary">提交</button>-->
        <!--<div id="dialog" title="提示">-->
        <!--<p></p>-->
        <!--</div>-->
        <!--</form>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

    </div>
</div>
<!--footer-->
<div id="footer" class="container-fluid background-light-blue">
    <div class="container">
        <h3>翼灵物联工作室</h3>
        <p class="lead">欢迎访问我们的各个站点</p>
        <hr class="m-y-md">
        <div class="row">
            <a href="http://www.swpuiot.com/" target="_blank" class="website-link text-center">
                <img src="img/nav-official-48.png" alt="翼灵官网" class="website-item"/>
                <p class="website-info">翼灵官网</p>
            </a>
            <a href="http://www.swpuiot.com/%E5%B5%8C%E5%85%A5%E5%BC%8F.html" target="_blank" class="website-link text-center">
                <img src="img/nav-major-48.png" alt="培养方向" class="website-item"/>
                <p class="website-info">培养方向</p>
            </a>
            <a href="#" target="_blank" class="website-link text-center">
                <img src="img/nav-competition-48.png" alt="创意大赛" class="website-item"/>
                <p class="website-info">创意大赛</p>
            </a>
            <a href="javascript:void(0);" target="_blank" class="website-link text-center">
                <img src="img/nav-open-48.png" alt="开源空间" class="website-item"/>
                <p class="website-info">开源空间（暂不开放）</p>
            </a>
            <a href="javascript:void(0);" target="_blank" class="website-link text-center">
                <img src="img/nav-new-48.png" alt="招新系统" class="website-item"/>
                <p class="website-info">招新系统（暂不开放）</p>
            </a>
            <a href="javascript:void(0);" target="_blank" class="website-link text-center">
                <img src="img/nav-exam-48.png" alt="考试系统" class="website-item"/>
                <p class="website-info">考试系统（暂不开放）</p>
            </a>
            <a href="javascript:void(0);" target="_blank" class="website-link text-center">
                <img src="img/nav-family-48.png" alt="翼灵一家人" class="website-item"/>
                <p class="website-info">翼灵一家人（暂不开放）</p>
            </a>
        </div>
    </div>
    <div class="container">
        <hr class="m-y-md">
        <p class="text-center">
            &copy; 2017
            <a href="http://www.swpuiot.com/" target="_blank">翼灵物联工作室</a>
            <a href="https://github.com/YiLing-IOT-Studio" target="_blank">
                <img class="git-img" src="img/icon-github.png" alt="github">
            </a>
        </p>
    </div>
</div>
<!--<script src="js/test.js"></script>-->
<script src="js/canvas.js"></script>
<script src="js/typeFront.js"></script>
<!--<script src="js/submit.js"></script>-->
<!--<script src="js/ajax.js"></script>-->
<!--<script>-->
<!--$.ajax({-->
<!--type: 'GET',-->
<!--url: 'http://192.168.1.139/back',-->
<!--//        contentType: 'application/json',-->
<!--dataType: 'text',-->
<!--//        processData:false,-->
<!--data: {-->
<!--},-->
<!--success: function (data) {-->
<!--console.log(data);-->
<!--},-->
<!--error: function (jqXHR, textStatus) {-->
<!--console.log(textStatus);-->
<!--}-->
<!--});-->

<!--</script>-->
</body>
</html>