@charset "utf-8";
body {
    color: #333;
    font-size: 16px;
    min-width: 1155px
}
nav.fixed-top {
    background-color: lightseagreen
}
.main {
    margin:10rem 5rem;
}
/*main {*/
    /*padding-top: 60px*/
/*}*/
#footer {
    padding: 10px;
    background-color: lightblue
}
ul {
    list-style-type: none
}
input[type='radio'] {
    margin-right: 5px
}
.text {
    text-indent: 2em
}
.background-gray-dark {
    background-color: #ccc
}
.background-light-blue {
    background-color: lightblue
}
a {
    color: darkgoldenrod;
    font-size: 14px
}
.radio-inline {
    padding-right: 35px
}
.form-group {
    padding: 10px
}
.item {
    display: none
}
.website-link {
    display: inline-block;
    width: 72px;
    height: 72px;
    margin: 18px
}
.website-item {
    width: 36px;
    height: 36px
}
.website-info {
    margin-top: 10px;
    font-size: 12px
}
.git-img {
    display: inline-block;
    width: 1em
}
#canvas {
    position: absolute;
    z-index: -1
}
#nav {
    display: none
}
body {
    background-color: #585858
}
header {
    color: whitesmoke;
    font-family: '微软雅黑';
    font-size: 1.5em;
    margin: 4em auto;
    text-align: center;
    text-indent: 2px;
    height: 420px;
    padding: 1em 0
}
#intro {
    font-size: .7em
}
.membersWall {
    margin-top: 3em;
    background-color: rgba(255,225,234,0.4);
    margin-bottom: 10em
}
.head-box {
    width: 100%
}
.head-box div {
    margin: 0 auto;
    color: whitesmoke;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    text-align: center
}
.head-box hr {
    border-color: whitesmoke;
    width: 2.5rem;
    padding: 0;
    margin: 0
}
.head-box h3 {
    font-family: "Lucida handwriting","Snell Roundhand","Helvetica Neue",Arial,Helvetica,sans-serif;
    margin: 0 10px
}
.member .col-4 {
    width: 100%;
    margin-right: -1em
}
.member {
    padding: 2em
}
.member .col-4 img {
    width: 100%
}
.member .col-8 {
    margin-left: 1em;
    color: #fdf2ff;
    padding-top: 2em
}
.member .headman {
    background: url("../img/xingqiu1.png") no-repeat right bottom;
    background-size: 20%
}
.member h4 {
    margin-bottom: 1em
}
.member ul li {
    font-size: 1.2em
}
/*!*addmessage*!*/
/*!*margin-left: 100px;
*!*/