@charset "utf-8";
body {
    background-color: #cbcbcb;
    color: #333;
    font-size: 16px;
    min-width: 1000px
}
nav.fixed-top {
    background-color: lightseagreen
}
.container {
    margin-top: 25px;
    margin-bottom: 30px
}
main {
    padding-top: 60px
}
#footer {
    padding: 10px;
    background-color: lightblue
}
ul {
    list-style-type: none
}
input[type='radio'] {
    margin-right: 5px
}
.text {
    text-indent: 2em
}
.background-gray-dark {
    background-color: #ccc
}
.background-light-blue {
    background-color: lightblue
}
a {
    color: darkgoldenrod;
    font-size: 14px
}
.radio-inline {
    padding-right: 35px
}
.form-group {
    padding: 10px
}
.item {
    display: none
}
.website-link {
    display: inline-block;
    width: 72px;
    height: 72px;
    margin: 18px
}
.website-item {
    width: 36px;
    height: 36px
}
.website-info {
    margin-top: 10px;
    font-size: 12px
}
.git-img {
    display: inline-block;
    width: 1em
}
header {
    height: 900px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%
}
header .bg {
    width: 100%;
    position: relative;
    top: -100px
}
header .logo {
    display: block;
    text-align: center;
    font-family: Lucida Sans Unicode,Verdana;
    position: absolute;
    top: 18rem;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 5
}
header h1 {
    font-size: 1.5em
}
header div img {
    margin-bottom: 10px;
    width: 78px;
    height: 78px
}
.main .row {
    margin-top: 3rem;
    padding: 10rem 2rem 2rem 2rem;
    position: relative;
    text-align: center
}
.left {
    margin-left: 4.5em
}
.left img {
    width: 90px;
    border-radius: 45px;
    box-shadow: 0 0 30px white;
    position: absolute;
    top: 0;
    right: 0
}
.left .cont {
    font-size: 1em;
    padding: 1rem 3.5rem 1rem 1rem;
    display: block;
    width: 90%;
    height: 200px;
    border-radius: 50px;
    position: absolute;
    left: 0;
    top: -3.5em;
    background: rgba(253,242,255,0.5)
}
.right {
    margin-left: 3em
}
.right a,.left a {
    display: block;
    position: relative
}
.right img {
    width: 90px;
    border-radius: 45px;
    box-shadow: 0 0 30px white;
    position: absolute;
    top: 0;
    left: 0
}
.right .cont {
    font-size: 1em;
    padding: 1rem 1rem 1rem 3.5rem;
    display: block;
    width: 90%;
    height: 200px;
    border-radius: 50px;
    position: absolute;
    right: 0;
    top: -3.5em;
    background: rgba(253,242,255,0.5)
}
.ajust {
    padding: 0 3rem
}
.bottom {
    margin-bottom: 300px
}
.cont a {
    font-size: 1.5em;
    display: inline
}
.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9
}
.span {
    text-align: center;
    font-size: 24px;
    position: absolute;
    left: 0;
    right: 0;
    top: 150px;
    font-family: "Lucida Console",'微软雅黑';
    z-index: 10
}